* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 720px;
  margin: auto;
  max-width: 100%;
}

.row {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.section-title {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 21px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

/**
 Flex Section 
 **/

 .flex-section {
  padding: 63px 0;
  background: #ffffff;
}

.flex-section__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}

.flex-section__item {
  width: 230px;
  height: 230px;
  margin: auto;
}

.flex-section__item--image {
  max-width: 100%;
}

@media screen and (max-width: 720px) {
  .flex-section__item {
    width: 33.3%;
    height: auto;
  }
}
