* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 720px;
  margin: auto;
  max-width: 100%;
}

.row {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.section-title {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 21px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

/*
* CSS Grid Section 
*/

.grid-section {
  padding: 63px 0;
  background: #f0f0f0;
}

.grid-section__row {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.grid-section__item { 
  width: 230px;
  height: 230px;
  margin: auto;
}

.grid-section__item--image {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 720px) {
  .grid-section__item {
    width: 100%;
    height: auto;
  }
}